APP_NAME=Whloom
ALGORITHM=HS256
SECRET_KEY=
REFRESH_KEY=

R2_ACCOUNT_ID = 
R2_ACCESS_KEY = 
R2_SECRET_KEY = 
R2_BUCKET_NAME = 

DATABASE_URL = 

EMAIL_ADDRESS=
EMAIL_PASSWORD=
SMTP_SERVER=
SMTP_PORT=


FRONTEND_URI=http://localhost:5173

COOKIE_SECURE=False

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

ACCESS_TOKEN_EXPIRE_MINUTES = 15
REFRESH_TOKEN_EXPIRE_DAYS = 7
EMAIL_VERIFICATION_EXPIRE_HOURS = 24
PASSWORD_RESET_EXPIRE_MINUTES = 30

GOOGLE_TOKEN_URL =
GOOGLE_USERINFO_URL =